
a{
    text-decoration: none;
    color: #ae3b3b;
    &:hover{
      text-decoration: underline;
      color: darkslateblue;
    }
}



#items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 10px;
}
.item{

  padding: 10px;
  background-color: rgb(238, 250, 255);
  box-shadow: 0 0 10px rgba(98, 102, 140, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;

}






@media screen and (max-width: 768px){
  #items{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 480px){
  #items{
    grid-template-columns: repeat(1, 1fr);
  }
}
